//couleurs principales
$bleu-marine: #002364;
$vert-turquoise: #00b4aa;
$rouge-framboise: #d70064;
$blanc: #ffffff;

//couleurs secondaires
$bleu-lavande: #5a88d8;
$vert-pistache: #96d320;
$gris-chaud-1: #716259;
$gris-chaud-2: #a79b94;
$gris-froid: #e0e3e6;

//couleurs étendues
$bleu-marine-étendu: #b7bdd2;
$vert-turquoise-étendu: #b2e8e6;
$rouge-framboise-étendu: #f6b3d4;
$bleu-lavande-étendu: #cedbee;
$vert-pistache-étendu: #e4f0c3;
$gris-chaud-1-étendu: #d4d0cd;
$gris-chaud-2-étendu: #e2ddda;
$gris-froid-étendu: #edeeef;

//couleurs messages

$succès: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$dangers: #dc3545;
